*{
    box-sizing: border-box;
}




body{
    margin: 0;
    padding: 0;
    background-color:  #323131;
    font-family: 'Inter';
    overflow: hidden;
}



/* ::-webkit-scrollbar {
    width: 12px;               
}
::-webkit-scrollbar-track {
    background: orange;     
}
::-webkit-scrollbar-thumb {
    background-color: rgb(44, 44, 51);
    border-radius: 20px;       
    border: 3px solid orange; 
} */

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1; 
}


::-webkit-scrollbar-thumb {
    background: #888; 
}


::-webkit-scrollbar-thumb:hover {
    background: #374; 
}



a{
    text-decoration: none;
}

.wrapper {
    display: flex;
}



.js-users,
.js-posts,
.js-comments {
    padding: 0;
    margin-top: 0;
    list-style: none;
    width: 550px;
    height: 700px;
    overflow-y: auto;
}

li{
    padding-left: 20px;
    padding-right: 20px;
}

.js-users{
    margin-left: 20px;
}

.users__item{
    margin-bottom: 50px;
    
}



.users__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 12px;
    
}

.users__list {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.users-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    margin-top: 0;
    margin-bottom: 0;
    color: #FFFFFF;
    
}

.users-id {
    font-weight: 600;
    font-size: 90px;
    line-height: 109px;    
    color: #FFFFFF;
    opacity: 0.5;
}

.users__address {
    font-style: normal; 
    font-weight: 500;
    font-size: 18px;
    line-height: 22px; 
    color: #ADADAD;
    margin-bottom: 12px;
}

.users-title,
.users-phrase {
    display: block;
}

.users-company {
    width: 300px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ADADAD;
    margin-bottom: 12px;
}

.users-title{
    color: #FFFFFF;
}


.users-package {
    width: 100%;
    max-width: 205px;
    display: flex;
    flex-direction: column;
    
}

.users-phone {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #1E96DB;
    
}

.users-phone::before {
    display: flex;
    align-items: center;
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url("../images/Phone.svg") no-repeat center center;
    margin-right: 8px;
    background-size: contain;
}

.users-geo,
.users-website {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #1E96DB;
    margin-bottom: 8px;
}



.users-geo::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url("../images/Vector.svg") no-repeat center center;
    background-size: contain;
    color: white;
    margin-right: 8px;
}

.users-website::before {
    content: "";
    width: 18px;
    height: 18px;
    margin-right: 3px;
    display: inline-block;
    background: url("../images/Geography.svg") no-repeat center center;
    background-size: contain;
    margin-right: 8px
}

.users-email {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #1E96DB;
    margin-bottom: 8px;
}

.users-email::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url("../images/Gmail.svg") no-repeat center center;
    background-size: contain;
    margin-right: 8px;
}


.posts-item{
    margin-bottom: 40px;
}

.posts-wrapper{
    width: 400px;
}

.posts-title {
    margin-top: 0;
    margin-bottom: 12px;
    padding: 0;
    color: #FFFFFF;
}

.posts-text{
    margin-top: 0;
    color: #ADADAD;
}

.comments-item{
    margin-bottom: 40px;
}

.comments-name {
    margin-top: 0;
    margin-bottom: 12px;
    color: #FFFFFF;
}

.comments-email {
    display: inline-block;
    color: #1E96DB;
    margin-bottom: 8px;
}

.comments-email::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-bottom: -3px;
    margin-right: 8px;
    background: url("../images/Gmail.svg") no-repeat center center;
    background-size: contain;
}

.comments-text {
    margin-top: 5px;
    color: #ADADAD;
}





.loading__img {
    position: fixed;
    top: 35%;
    left: 45%;
}